/**
 *  数据 - 编辑文章样式（包含兼容eleme框架样式处理）
 */

.data-article-edit-page {
    padding-top: 10px;

    .header {
        margin-bottom: 10px;

        .el-select {
            margin-right: 10px;
        }

        .el-button {
            margin-left: 10px;
        }
    }

    .container {

        .el-tag {
            margin-right: 5px;
        }

        .table-page {
            margin-top: 5px;
            text-align: right;

            .el-pagination {
                padding: 2px 0;
            }
        }
    }



}


